<template>
  <div class="table-responsive" dir="rtl">
    <table class="table table-hover table-bordered">
      <!-- <thead> -->
        <caption>جدول ریسپانسیو </caption>
        <tr>
          <!-- <th v-for="(head, index) in tableData.tableHead" :key="index">
            {{ head.title }}
          </th> -->
          <th>تاریخ ثبت‌نام</th>
          <th>نحوه فروش</th>
          <th>طرح فروش</th>
          <th>محصول</th>
          <th>وضعیت</th>
        </tr>
      <!-- </thead> -->
      <!-- <tbody> -->
        <tr v-for="(detail, index) in tableData.tableBody" :key="index" >
          <td data-label="تاریخ ثبت‌نام">{{ detail.date }}</td>
          <td data-label="نحوه فروش">{{ detail.typeSell }}</td>
          <td data-label="طرح فروش">{{ detail.tarhSell }}</td>
          <td data-label="محصول">{{ detail.productName }}</td>
          <td data-label="وضعیت">{{ detail.status }}</td>
        </tr>
      <!-- </tbody> -->
    </table>
  </div>
</template>

<script setup>
    const tableData = {
        tableHead: [
          { id: 1, title: "تاریخ ثبت‌نام" },
          { id: 2, title: "نحوه فروش" },
          { id: 3, title: "طرح فروش" },
          { id: 4, title: "محصول" },
          { id: 5, title: "وضعیت" },
        ],
        tableBody: [
          { date: "1401/02/10", typeSell: "پیش فروش", tarhSell: "عادی", productName: "نیسان دوگانه‌سوز", status:1 },
          { date: "1401/02/11", typeSell: "عادی", tarhSell: "عادی", productName: "نیسان  SV", status: 2 },
          { date: "1401/02/12", typeSell: "پیش فروش", tarhSell: "عادی", productName: "نیسان دوگانه‌سوز آپشنال SV", status: 2 },
          { date: "1401/02/13", typeSell: "جوانی", tarhSell: "عادی", productName: "نیسان دوگانه‌سوز آپشنال", status: 2 },
          { date: "1401/02/14", typeSell: "پیش فروش", tarhSell: "عادی", productName: "نیسان دوگانه‌سوز SV", status: 1 },
        ] 
      };
</script>

<style lang="scss" scoped>

table{
  width: 100%;
  background: gray;
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid red;
  caption{
    text-align:right;
  }
  caption,
  th,td{
    // display: inline-block;
    padding:10px;
  }
  tr:nth-of-type(2n){
    background: lightgray;
  }
  th{
    
    @media(max-width:768px){
      display: none;
    }
  }
  tr{
    @media(max-width:768px){
      // justify-content: space-between;
    }
  }
  
  td{
    @media(max-width:768px){
      display: block;
      padding: 10px 0;
      text-align: right;
      position: relative;
      text-align: left;
      justify-content: right;
      &:first-child{
        padding-top:1rem
      }
      &:last-child{
        padding-bottom:1rem
      }
    }
    
  }
  td::before {
    @media(max-width:768px){
      // display: inline-flex;
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      right: 0;
    }
  }
  // tr{
  //   @media(max-width:768px){
  //     padding: 10px 0;
  //   }  
  // }
  

}


</style>